/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #4a4a4a94;
    border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4a4a4a;
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*Styling for tooltip scrollbar*/
#alert-popper::-webkit-scrollbar {
    width: 7px;
}

#alert-popper::-webkit-scrollbar-thumb {
    background: #2b2b2b;
}

#alert-popper::-webkit-scrollbar-thumb:hover {
    background: #343434;
}

#alert-popper::-webkit-scrollbar-track {
    background: #2b2b2b;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    background-clip: padding-box;
}